<link rel="stylesheet" href="{{ 'component-rte.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'section-background-img.css' | asset_url }}" media="print" onload="this.media='all'">

<!-- <noscript>{{ 'component-rte.css' | asset_url | stylesheet_tag }}</noscript>
<noscript>{{ 'section-background-img.css' | asset_url | stylesheet_tag }}</noscript> -->
 
<div class="background-img {% if section.settings.full_width %} background-img--full-width{% endif%} color-{{ section.settings.color_scheme }}">
</div>

{% schema %}
  {
    "name": "t:sections.background-img.name",
	"tag": "section",
  	"class": "spaced-section spaced-section--full-width",
    "settings": [
		{
      		"type": "select",
      		"id": "color_scheme",
      		"options": [
        		{
          			"value": "accent-1",
          			"label": "t:sections.background-img.settings.color_scheme.options__1.label"
        		},
        		{
          			"value": "accent-2",
          			"label": "t:sections.background-img.settings.color_scheme.options__2.label"
        		},
        		{
          			"value": "background-1",
          			"label": "t:sections.background-img.settings.color_scheme.options__3.label"
        		},
        		{
          			"value": "background-2",
          			"label": "t:sections.background-img.settings.color_scheme.options__4.label"
        		},
        		{
          			"value": "inverse",
          			"label": "t:sections.background-img.settings.color_scheme.options__5.label"
        		}
      		],
      		"default": "background-1",
      		"label": "t:sections.background-img.settings.color_scheme.label"
    	},
		{
      		"type": "image_picker",
      		"id": "image",
      		"label": "t:sections.background-img.settings.image.label"
    	},
		{
      		"type": "checkbox",
      		"id": "full_width",
      		"default": true,
      		"label": "t:sections.background-img.settings.full_width.label"
    	}	
	],
	"presets": [
      {
        "name": "Background Image",
        "category": "Custom"
      }
    ]
  }
{% endschema %}

<!-- {% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %} -->
