<link rel="stylesheet" href="{{ 'component-rte.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'section-background-img.css' | asset_url }}" media="print" onload="this.media='all'">

<!-- <noscript>{{ 'component-rte.css' | asset_url | stylesheet_tag }}</noscript>
<noscript>{{ 'section-background-img.css' | asset_url | stylesheet_tag }}</noscript> -->
 
<div class="background-img {% if section.settings.full_width %} background-img--full-width{% endif%} color-{{ section.settings.color_scheme }}">
<!-- 	{%- if sections.background-img.settings.image != blank -%} -->
  		<div class="background-img-on">
  			{%- if section.settings.image != blank -%}
          <img
            srcset="{%- if section.settings.image.width >= 165 -%}{{ section.settings.image | img_url: '165x' }} 165w,{%- endif -%}
              {%- if section.settings.image.width >= 360 -%}{{ section.settings.image | img_url: '360x' }} 360w,{%- endif -%}
              {%- if section.settings.image.width >= 535 -%}{{ section.settings.image | img_url: '535x' }} 535w,{%- endif -%}
              {%- if section.settings.image.width >= 750 -%}{{ section.settings.image | img_url: '750x' }} 750w,{%- endif -%}
              {%- if section.settings.image.width >= 1070 -%}{{ section.settings.image | img_url: '1070x' }} 1070w,{%- endif -%}
              {%- if section.settings.image.width >= 1500 -%}{{ section.settings.image | img_url: '1500x' }} 1500w,{%- endif -%}"
            src="{{ section.settings.image | img_url: '1500x' }}"
            sizes="(min-width: {{ settings.page_width }}px) {{ settings.page_width | minus: 100 | divided_by: 2 }}px, (min-width: 750px) calc((100vw - 130px) / 2), calc((100vw - 50px) / 2)"
            alt="{{ section.settings.image.alt | escape }}"
            loading="lazy"
            width="{{ section.settings.image.width }}"
            height="{{ section.settings.image.height }}"
          >
        {%- else -%}
          {{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}
        {%- endif -%}
  		</div>
<!--     {%- endif -%} -->
</div>

{% schema %}
  {
    "name": "t:sections.background-img.name",
	"tag": "section",
  	"class": "spaced-section spaced-section--full-width",
    "settings": [
		{
      		"type": "select",
      		"id": "color_scheme",
      		"options": [
        		{
          			"value": "accent-1",
          			"label": "t:sections.background-img.settings.color_scheme.options__1.label"
        		},
        		{
          			"value": "accent-2",
          			"label": "t:sections.background-img.settings.color_scheme.options__2.label"
        		},
        		{
          			"value": "background-1",
          			"label": "t:sections.background-img.settings.color_scheme.options__3.label"
        		},
        		{
          			"value": "background-2",
          			"label": "t:sections.background-img.settings.color_scheme.options__4.label"
        		},
        		{
          			"value": "inverse",
          			"label": "t:sections.background-img.settings.color_scheme.options__5.label"
        		}
      		],
      		"default": "background-1",
      		"label": "t:sections.background-img.settings.color_scheme.label"
    	},
		{
      		"type": "image_picker",
      		"id": "image",
      		"label": "t:sections.background-img.settings.image.label"
    	},
		{
      		"type": "checkbox",
      		"id": "full_width",
      		"default": true,
      		"label": "t:sections.background-img.settings.full_width.label"
    	}	
	],
	"presets": [
      {
        "name": "Background Image",
        "category": "Custom"
      }
    ]
  }
{% endschema %}

<!-- {% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %} -->
